.header {
  background-color: #e74c3c;
  width: 100%;
  height: 3em;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 25px;
}


.logo {
  font-size: 2em;
  font-family: 'Kaushan Script', sans-serif;
  color: #e74c3c;
  margin-bottom: -5px;
  margin-left: -50px;
  text-shadow: 2px 2px 2px #BF2415;
}

.links {
  margin-top: 5px;
  margin-bottom: -5px;
  padding: .3em;
  margin-right: 10px;
  border: 1px solid white;
  font-size: 1em;
  list-style: none;
  box-shadow: 2px 2px 2px #BF2415;
}
/*.logo a:hover {
  background-color: #e74c3c;
}*/

body{
  background-color: lightgrey;
  background-size: stretch;
  height: auto;
  background-repeat: no-repeat;
}
.login-form {
  background-color: rgba(255,255,255,0.75);
}
.login-logo {
  font-size: 4em;
  font-family: 'Kaushan Script', sans-serif;
  color: #e74c3c;
  margin-bottom: -5px;
  /*text-shadow: 2px 2px 2px #BF2415;*/
}
.login-buttons {
  background-color: #e74c3c;
  color: white;
}
.login-buttons:hover {
  color: white;
  text-decoration: none;
}
.login-buttons, a {
  color: white;
  text-decoration: none;
}
.login-buttons, a:hover {
  color: white;
  text-decoration: none;
}


/*.login {
  background-image: url("http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2015/09/Screen-Shot-2015-09-11-at-3.43.50-PM.png");
  background-size: cover;
}*/

#map {
  display: block;
  position: absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
}

.cafeList {
  top: 42px;
  height: 94.5%;
  width: 40%;
  background-color: rgba(255,255,255,0.5);
  overflow: scroll;
  position:absolute;
  opacity:20%;
  z-index: 1;
}

/************************ CAFE LIST VIEW STYLES **************************************/
.cafe {
  min-height: 120px;
  border-bottom: 1px solid lightgrey;
  margin: 10px 10%;
  background-color: rgba(255,255,255,.75);
}

.cafe:hover {
  border-bottom: 2px solid #e74c3c;
}

.cafePreviewClick {
  height: 120px;
}

.coffeeShopImage {
  height: 120px;
  width: 150px;
  margin-right: 10px;
  padding: 10px 10px;;
  object-fit: cover;
  float: left;
}

.coffeeShopInfo {
  padding-top: 5px;
  margin-top: 2px;
  margin-left: 5px;
  width: 400px;
  height: 100%;
}

.coffeeShopName {
  margin-top: 2px;
  font-weight: 200;
  font-size: 1.5em;
}

.coffeeShopAddress {
  /*float: left;*/
  margin-top: -8px;
  line-height: normal;
  font-size: .8em;
}

/***************** Appointments ********************/

.appointmentsDashboard {
  height: 400px;
  width: 100%;
  /*margin-top: 1em;*/
  overflow: scroll;
  border-top: 1px solid darkgrey;
}
.appointmentsTitle {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-weight: 200;
}

.appointment {
  min-height: 75px;
  border-bottom: 1px solid lightgrey;
  margin: 10px 10%;
  background-color: white;
  box-shadow: 2px 2px 2px darkgrey;

  /*z-index: 1;*/
}

.addAppointmentButton {
  right: 0;
  /*top: 0;*/
  float: right;
}

.addNewAppointmentForm {
  margin: 10px 10%;
}
.timeInput {
  width: 82%;
}

/*.addAppointmentButton:hover {
  background-color: green;
}*/

/*.addAppointmentButton:active {
  background-color: darkgreen;
}*/

.appointmentData {
  /*float: left;*/
  /*display: inline-block;*/
  /*float: left;*/
}
.meetupButton {
  /*float: right;*/
  /*margin:0;*/
  display: inline-block;
  float: right;
  margin-right: 0;
  height: 25px;
  width: 50px;
  background-color: forestgreen;
  color: white;
  border: none;
  vertical-align: middle;
  /*overflow: hidden;*/
}

/***************** MAP INFO WINDOW STYLES**********************/
.gm-style-iw {
  overflow: scroll:
  padding: 0;
  margin: 0;
}

.gm-style-iw img {
  object-fit: cover;
  margin: auto;
  align: center;
  height: 125px;
  width: 100%;
}

.gm-style-iw h2 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  font-weight: normal;
  background-color: rgba(46, 204, 113,1);
  color: white;
}

.gm-style-iw p {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5em;
}

.opening-hours {
  color: green;
}



/*NG ANIMATE PRACTICE*/

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}


.main-view {
  max-width: 100%;
  max-height: 700px;
  overflow: hidden;
}
