.logo {
  font-size: 2em;
}
#map {
  margin: 0;
  padding: 0;
  height: 420px;
  width: 100%;
}

.modal-footer {
  border-top: 0px;

}

#cafeList {
  width: 100%;
  margin: 0;
  background-color: white;
}


/************************ CAFE LIST VIEW STYLES **************************************/
.cafe {
  height: 120px;
  /*border: 2px solid black;
  border-radius: 4px;*/
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 2px 2px 2px darkgrey;
  margin: 10px;
  /*color: white;*/
}

.cafe:hover {
  background-color: rgba(46, 204, 113,.5);
}

.coffeeShopImage {
  height: 100%;
  width: 150px;
  object-fit: cover;
  float: left;
}

.coffeeShopInfo {
  float:left;
  margin-top: 2px;
  margin-left: 5px;
  /*color: steelblue;*/
}

.coffeeShopName {
  font-weight: normal;
  font-size: 2em;
}

.coffeeShopAddress {
  float: left;
}

/***************** MAP INFO WINDOW STYLES**********************/
.gm-style-iw {
  /*font-family: 'Avenir', sans-serif;*/
  overflow: scroll:
  padding: 0;
  margin: 0;
}

.gm-style-iw img {
  object-fit: cover;
  margin: auto;
  /*margin-bottom: 10px;*/
  align: center;
  height: 125px;
  width: 360px;
  /*position: relative;*/
}

.gm-style-iw h2 {
   font-size: 1.5em;
   margin-bottom: 0;
   margin-top: 0;
   padding: 5px;
   font-weight: normal;
   background-color: dodgerblue;
   /*background-size: contain;*/
   /*top: 5px;*/
   color: white;
   /*left: 0;*/
   /*width: 100%;*/
}

.gm-style-iw p {
   margin-bottom: 0;
   margin-top: 0;
   line-height: 1.5em;
}

.opening-hours {
  color: green;
}
