.header {
  background-color: #e74c3c;
  width: 100%;
}

.header a {
  color: white;
}

.logo {
  font-size: 3em;
  font-family: 'Kaushan Script', sans-serif;
  color: #e74c3c;
  /*float: left;*/
  /*text-shadow: 2px 2px 2px darkgrey;*/
}

.links {
  margin-top: 20px;
  margin-right: 10px;
  border: 1px solid white;
  font-size: 1em;
}


#map {
  margin: 25px 10%;
  padding: 0;
  height: 420px;
  width: 80%;
}

.modal-footer {
  border-top: 0px;

}

#cafeList {
  width: 100%;
  margin: 0;
  background-color: white;
}


/************************ CAFE LIST VIEW STYLES **************************************/
.cafe {
  min-height: 120px;
  /*background-color: white;*/
  border-bottom: 1px solid lightgrey;
  /*border-radius: 8px;*/
  /*box-shadow: 2px 2px 2px darkgrey;*/
  margin: 10px 10%;
}

.cafe:hover {
  /*background-color: rgba(46, 204, 113,.5);*/
  /*background-color:#FFE0DD;*/
  /*box-shadow: 2px 2px 2px lightblue; */
  border-bottom: 2px solid #e74c3c;
}

.coffeeShopImage {
  height: 120px;
  width: 150px;
  margin-right: 10px;
  padding: 5px 5px 15px 5px;
  object-fit: cover;
  float: left;
}

.coffeeShopInfo {
  /*float:left;*/
  padding-top: 5px;
  margin-top: 2px;
  margin-left: 5px;
  /*color: steelblue;*/
}

.coffeeShopName {
  margin-top: 2px;
  font-weight: normal;
  font-size: 1.5em;
}

.coffeeShopAddress {
  /*float: left;*/
}

.appointmentsDashboard {
  height: 400px;
  width: 100%;
  margin-top: 5em;
}
.appointmentsTitle {
  /*display: block;*/
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-weight: regular;
}

/***************** MAP INFO WINDOW STYLES**********************/
.gm-style-iw {
  /*font-family: 'Avenir', sans-serif;*/
  overflow: scroll:
  padding: 0;
  margin: 0;
}

.gm-style-iw img {
  object-fit: cover;
  margin: auto;
  /*margin-bottom: 10px;*/
  align: center;
  height: 125px;
  width: 100%;
  /*position: relative;*/
}

.gm-style-iw h2 {
   font-size: 1.5em;
   margin-bottom: 0;
   margin-top: 0;
   padding: 5px;
   font-weight: normal;
   background-color: dodgerblue;
   /*background-size: contain;*/
   /*top: 5px;*/
   color: white;
   /*left: 0;*/
   /*width: 100%;*/
}

.gm-style-iw p {
   margin-bottom: 0;
   margin-top: 0;
   line-height: 1.5em;
}

.opening-hours {
  color: green;
}



/*NG ANIMATE PRACTICE*/

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
