<ul class="nav nav-pills pull-left">
  <li class='logo'><a href="#/home">Brew4Two</a></li>
  <li ><a href="#/signin">Sign In</a></li>
  <li ><a href="#/home">Landing Page</a></li>
  <li ><a href="#/appointments">My Appointments</a></li>
  <li ><a href="#" ng-click='signout()'>logout</a></li>
</ul>
<h1>Appointments</h1>
<h3>Booked Solid</h3>
  <div class="cafe appointment">Appointment Info</div>
  <div class="cafe appointment">Appointment Info</div>
  <div class="cafe appointment">Appointment Info</div>


<h3>Pending...</h3>


  <div class="cafe appointment">Appointment Info</div>
  <div class="cafe appointment">Appointment Info</div>
  <div class="cafe appointment">Appointment Info</div>
  <div class="cafe appointment">Appointment Info</div>
  <div class="cafe appointment">Appointment Info</div>
  <div class="cafe appointment">Appointment Info</div>
