<!-- nav bar links  -->
<ul class="header">
  <li class='logo pull-left'><a href="#/home">Brew4Two <span class="fa fa-coffee"></span></a></li>
  <li class="pull-right links" ng-show='!isAuth()'><a href="#/signin">login</a></li>
  <li class="pull-right links" ng-show='isAuth()'><a href="#" ng-click='signout()'>logout</a></li>
  <li class="pull-right links"><a href="#/appointments"> appointments</a></li>
</ul>

<!-- page header -->
<!-- page load fetches ALL appointments and filters out appts specific to user in the controller -->
<h1 ng-init="filterAppointments()">Appointments</h1>





<div  ng-app="signup" ng-contoller="submitCtrl">

  <!-- loop over confirmed appointments (appts that user is either the host or guest and both parties have confirmed) -->
  <div class="container apptContainer">
    <div class = "container apptCatContainer">
      <h1>Confirmed</h1>
      <table class="table">
        <thead>
          <tr>
            <th>First</th>
            <th>Last</th>
            <th>Location</th>
            <th>Day</th>
            <th>Time</th>
            <th>Action</th>
            <th>&nbsp</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="confirmAppt in confirmed">
            <td>guest first</td>
            <td>guest last</td>
            <td>location</td>
            <td>day</td>
            <td>time</td>
            <td><button class="btn btn-primary" ng-click="accept()">Accept</button></td>
            <td><button class="btn btn-danger" ng-click="deny()">Deny</button></td>
          </tr>
        </tbody>
      </table>

      <!-- // loop over hosted appointments (appts that user has created) -->
      <h1>Hosting</h1>
      <table class="table">
        <thead>
          <tr>
            <th>First</th>
            <th>Last</th>
            <th>Location</th>
            <th>Address</th>
            <th>Day</th>
            <th>Time</th>
            <th>Action</th>
            <th>&nbsp</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="hostAppt in hosting">
            <td>{{hostAppt.firstName}}</td>
            <td>{{hostAppt.lastName}}</td>
            <td>{{hostAppt.shop.name}}</td>
            <td>{{hostAppt.shop.formatted_address}}</td>
            <td>{{hostAppt.day}}</td>
            <td>{{hostAppt.time}}</td>
            <td><button class="btn btn-primary" ng-click="accept()">Accept</button></td>
            <td><button class="btn btn-danger" ng-click="deny()">Deny</button></td>
          </tr>
        </tbody>
      </table>

      <!-- <div>
      <h3>{{hostAppt.day}}</h3>
    </div> -->

    <!-- // loop over requested appointments (appts that user has requested to join but is not hosting) -->
    <h1 >Requested</h1>
    <table class="table">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Location</th>
          <th>Day</th>
          <th>Time</th>
          <th>Action</th>
          <th>&nbsp</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="requestAppt in requested">
          <td>{{requestAppt.firstName}}</td>
          <td>{{requestAppt.lastName}}</td>
          <td>{{requestAppt.shop.name}}</td>
          <td>{{requestAppt.shop.formatted_address}}</td>
          <td>{{requestAppt.day}}</td>
          <td>{{requestAppt.time}}</td>
          <td><button class="btn btn-primary" ng-click="accept()">Accept</button></td>
          <td><button class="btn btn-danger" ng-click="deny()">Deny</button></td>
        </tr>
      </tbody>
    </table>
    <!-- <div>
    <h3>{{requestAppt.time}}</h3>
  </div> -->
</div>
</div>

</div>
