<ul class="nav nav-pills pull-left">
  <li class='logo'><a href="#/home">Brew4Two</a></li>
  <li ><a href="#/signin">Sign In</a></li>
  <li ><a href="#/home">Landing Page</a></li>
  <li ><a href="#/appointments">My Appointments</a></li>
  <li ><a href="#/logout">logout</a></li>
</ul>

<div ng-app="mapsApp" ng-controller="MapCtrl">

  <div id="map"></div>

  <div id="cafeList">
    <div class="cafe">{{coffeeShops[0]}}</div>
    <div class="cafe">Cafe</div>
    <div class="cafe">Cafe</div>
    <div class="cafe">Cafe</div>
    <div class="cafe">Cafe</div>
    <div class="cafe">Cafe</div>
    <div class="cafe">Cafe</div>
    <div class="cafe">Cafe</div>
  </div>

</div>
