<ul class="nav nav-pills pull-right">
      <li ><a href="#/signin">Sign In</a></li>
      <li ><a href="#/home">Landing Page</a></li>
      <li ><a href="#/appointments">My Appointments</a></li>
      <li ><a href="#/logout">logout</a></li>
</ul>

<div ng-app="mapsApp" ng-controller="MapCtrl">
  <div id="map"></div>
</div>

<div id="cafeList">
  <div class="cafe">Cafe</div>
  <div class="cafe">Cafe</div>
  <div class="cafe">Cafe</div>
  <div class="cafe">Cafe</div>
  <div class="cafe">Cafe</div>
  <div class="cafe">Cafe</div>
  <div class="cafe">Cafe</div>
  <div class="cafe">Cafe</div>
</div>
