<div class='signup_form'>
  <h1>Signup Form</h1>
  <form>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" ng-model="newUser.username">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" ng-model="newUser.first">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" ng-model="newUser.last">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="newUser.email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="newUser.password">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="text" class="form-control" ng-model="newUser.age">
    </div>
    <div class="form-group">
      <label>Gender</label>
      <input type="text" class="form-control" ng-model="newUser.gender">
    </div>
    <button type="submit" ng-click="addUser()" class="btn btn-primary">Submit</button>
  </form>
</div>
